:root {
  --color-body: #344563;
  --color-logo: #6070ff;
  --color-primary: #091e42;
  --color-secondary: #7f8cff;
  --color-card-title: #172b4d;
  --color-background: #f7f7f7;
  --color-white: #fff;
  --color-black: #000;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--color-body);
}

.nav-icon {
  width: 1.8rem;
  height: 1.2rem;
}

.header {
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  width: 88%;
  margin: 0 auto;
}

.header-container a {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  font-style: normal;
  color: var(--color-logo);
  text-decoration: none;
}

.linked-list {
  display: none;
  list-style: none;
  gap: 4rem;
}

/* Section hero */
.section-hero {
  min-height: calc(100vh - 6rem);
  background-image: url('images/hero-phone.png');
  background-repeat: no-repeat;
  padding-top: 10rem;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.primary-text {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  width: 80%;
  color: var(--color-primary);
}

.secondary-text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-secondary);
}

.social-icons {
  height: 2rem;
  width: 2rem;
}

.social-links {
  display: flex;
  justify-content: flex-start;
}

.social-list {
  list-style: none;
  width: 55%;
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.desktop-cards-container {
  display: none;
}

/* Works section */

.section-works {
  background-color: var(--color-background);
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.cards-container {
  display: grid;
  grid-template-rows: repeat(4, 1);
  gap: 10rem;
}

.card {
  box-sizing: border-box;
  border-radius: 1.6rem;
  background-color: var(--color-white);
  width: 100%;
  margin: 0 auto;
  border: 1px solid #dfe1e6;
  padding: 1.6rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-title {
  color: var(--color-card-title);
  font-weight: 700;
  font-size: 3.2rem;
}

.card-frame-one {
  display: flex;
  gap: 4rem;
}

.card-list {
  display: flex;
  gap: 3rem;
  font-weight: 600;
  font-size: 1.3rem;
  color: #7a869a;
}

.card-client {
  font-weight: 600;
  font-size: 1.3rem;
  color: #344563;
}

.card-tags {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.card-tags li {
  background: #ebebff;
  border-radius: 0.8rem;
  padding: 0.4rem 1.2rem;
  color: var(--color-logo);
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.03em;
}

.button {
  padding: 1.2rem;
  border: 1px solid var(--color-logo);
  text-decoration: none;
  border-radius: 0.8rem;
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 500;
  color: #396df2;
  align-self: flex-start;
  margin-bottom: 1.2rem;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: var(--color-logo);
  color: var(--color-white);
}

.button:active {
  background: #2230d2;
  color: var(--color-white);
}

.button:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

/* About Section */
.section-about {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  gap: 2.4rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills {
  padding-left: 1rem;
  padding-right: 2rem;
}

.arrows {
  width: 2.4rem;
  height: 2.4rem;
}

.skills-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-black);
  line-height: 4rem;
  gap: 2rem;
}

.list-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfe1e6;
}

.languages {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 1.2rem;
  gap: 1.2rem;
}

.language-list {
  display: flex;
  align-items: center;
  padding: 1rem 10rem;
  padding-left: 1rem;
  background: var(--color-background);
  border-radius: 0.8rem;
  font-size: 1.5rem;
  gap: 2rem;
}

.language-list-items {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #253858;
}

/* footer section */
.container-contact-me {
  margin-top: 10rem;
  padding-top: 10rem;
  background-color: var(--color-logo);
  background-image: url(images/contact-form\ shapes-mobile.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-position: right;
  border-top-left-radius: 8rem;
}

.container-contact-me form {
  padding: 0 2rem;
}

.form-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.form-list h2 {
  color: var(--color-white);
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
}

.form-list p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #ebebff;
  padding-bottom: 3rem;
}

.form-list-text {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: var(--color-white);
  padding: 1.5rem;
  width: 98%;
  display: flex;
}

.form-list-text input,
textarea {
  width: 100%;
  border: none;
}

.form-list-text input::placeholder {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
  color: #172b4d;
}

.form-list-text textarea::placeholder {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #b3bac5;
}

.form-list button {
  align-self: flex-start;
}

.card img {
  width: 100%;
}

.cards-desktop,
.cards-desktop-list {
  display: none;
}

/* adding media queries for desktop version */
@media (min-width: 768px) {
  .linked-list {
    display: flex;
    color: var(--color-primary);
  }

  .section-hero {
    background-image: url(images/hero-desktop.svg);
    padding: 5rem;
  }

  .hero-container {
    width: 60%;
    padding: 5rem;
    margin: 5rem auto;
  }

  .social-list {
    width: 30%;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-phone,
  .nav-icon {
    display: none;
  }

  .cards-desktop {
    display: flex;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem auto;
    padding-left: 1rem;
  }

  .cards-desktop-list {
    display: list-item;
  }

  .section-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .languages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .language-list {
    gap: 1rem;
    flex-direction: column;
    width: 15%;
    align-items: flex-start;
  }

  .container-contact-me {
    background-image: url(images/contact\ form\ background\ shapes-desktop.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-contact-me form {
    width: 50%;
    margin: 2rem auto 12rem;
  }

  .form-list button {
    align-self: center;
  }
}
